@charset "UTF-8";
/* CSS Document */

html {
	height:100%;
	}

.break {
	clear:both;
}

body {
	width:100%;
	height:100%;
	margin:0;
	
}
.navigation {
	background-color:#FFF;
	height:47px;
	
}

.grund1 {
	height: 100%;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	
}

.navibox {
	width: 23.5%;
}

.box1 {
	height:20px;
	padding-bottom:0.2%;
	font-family:Muli;
	font-weight:300;
	font-size:0.75em;
	background-color:#FFF;
	border-bottom:3px solid #000;
	padding-top:2%;
	background-color:#FFF;
	float:left;
	
}

.box2 {
	height:20px;
	padding-bottom:0.2%;
	font-family:Muli;
	font-weight:300;
	font-size:0.75em;
	background-color:#FFF;
	border-bottom:3px solid #000;
	padding-top:2%;
	float: right;	
}

.marginright {
	margin-right:2%;

}

.floatleft {
	float:left;
	
}

.floatright {
	float:right;
	}

.header {
	height:120px;
	background-color:#FFF;
}

.logo {
	width:50%;
}

.logo img {
	height:120px;
	}
	
.headnavi {
	margin:0;
	width:23.5%;
	vertical-align:
	vertical-align:bottom;
}

.headnavi p {
	font-family:Muli;
	font-weight:300;
	font-size:0.6em;
	margin:0;
}
	
.content {
	margin-top:2%;
	margin-bottom:3%;
	background-color:#FFF;
	width:100%;
	height:80%;
	
}

.kachelcolor {
	background-color: #D6D5D6;
	}
	
.kachelselected {
	background-image: url(pictures/kachel1_metal_vor.jpg);
	box-shadow:inset 2px 2px 15px 5px #cc3366;
	}
	
	
.kacheltext1 {
	display:none;
	width: 49%;
	height: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-image: url(pictures/kachel1_metal_vor.jpg);
	background-size: 100%;
	}	
	
	
span {
	display:none;}	
	
.kachel1 {
	width: 49%;
	height: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-image: url(pictures/kachel1_metal.jpg);
	background-size: 100%;
}
	
.kachel1:hover {
	background-image: url(pictures/kachel1_metal_vor.jpg);
}

.kachel:hover span {
	display:block;
	}

.kachel2 {
	width:23.5%;
	height:32%;
	float:left;
	margin-right:2%;
	margin-bottom:2%;
	background-image: url(pictures/kachel2_gold.jpg);
	background-size: 100%;

}

.kachel3 {
	float:right;
	width:23.5%;
	height:67%;
	margin-bottom:2%;
	background-image: url(pictures/kachel3_leder.jpg);
	background-size: 100%;		
	}

.kachel4 {
	width:23.5%;
	height:67%;
	margin-right:2%;
	float:left;
	background-image: url(pictures/kachel4_holz1.jpg);
	background-size: 100%;
	
	}

.kachel5 {
	width:49%;
	height:32%;
	float:left;
	margin-right:2%;
	margin-bottom:2%;
	background-image: url(pictures/kachel5_plastik.jpg);
	background-size: 100%;
	}
	
.kachel6 {
	width:23.5%;
	height:32%;
	float:left;
	margin-right:2%;
	background-image: url(pictures/kachel6_blech.jpg);
	background-size: 100%;
	}
	
.kachel7 {
	width:23.5%;
	height:32%;
	float:left;
	margin-right:2%;
	background-image: url(pictures/kachel7_metal2.jpg);
	background-size: 100%;
	}
	
.kachel8 { 
	width:23.5%;
	height:32%;
	float:right;
	background-image: url(pictures/kachel8_holz2.jpg);
	background-size: 100%;
	}
	
.naviende {
	height: 5%;
	width:100%;
	}

.box3 {
	height: 5%;
	font-family: Muli;
	font-weight: 300;
	font-size: 0.65em;
	background-color: #FFF;
	/*
	border-top:3px solid #000;
	*/
	padding-top: 1%;
	background-color: #FFF;
	float: right;
	text-align: center;
	}
