@charset "UTF-8";
/* CSS Document */

html {
	height:100%;
	}

.break {
	clear:both;
}

body {
	width:100%;
	height:100%;
	margin:0;
	

	
}
.navigation {
	list-style-type:none;
	background-color:#FFF;
	height:47px;
	text-decoration: none;
	padding:0;
	margin:0;
}

a {
	text-decoration:none;
	color:#000;
	}

.navigation, .navigation ul {
	padding:0;
	text-decoration:none;
}

.navigation li {
	display:inline;
	padding:0;
	text-decoration:none;
}

.navigation li:hover ul {
	display:block;
}

.subnav {
	list-style-type: none;
	margin-right: 0.8em;
	display: none;
	list-style-type: none;
	margin-top: 0.8em;
	padding: 0;
	text-decoration: none;
	position: absolute;
}

.navibrille {
	padding: 0;
	margin-top: 0em;
	margin-right: 0.7em;
	margin-bottom: 0em;
	margin-left: 0em;
	}

.grund1 {
	height: 100%;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	
}

.navibox {
	width: 23.5%;
}

.navibrillenbox {
	background-color: #000;
	color: #FFF;
	width: 24%;
	height: 50%;
	padding: 0;
	margin-top: 0em;
	margin-right: 1.5em;
	margin-bottom: 0em;
	margin-left: 0em;
	}

.box1 {
	height:20px;
	padding-bottom:0.2%;
	font-family:Muli;
	font-weight:300;
	font-size:0.75em;
	background-color:#FFF;
	border-bottom:3px solid #000;
	padding-top:2%;
	background-color:#FFF;
	float:left;
	
}

.box2 {
	height:20px;
	padding-bottom:0.2%;
	font-family:Muli;
	font-weight:300;
	font-size:0.75em;
	background-color:#FFF;
	border-bottom:3px solid #000;
	padding-top:2%;
	float: right;	
}

.marginright {
	margin-right:2%;

}

.floatleft {
	float:left;
	
}

.floatright {
	float:right;
	}

.floatinherit {
	float:inherit;
	}

.header {
	height:120px;
	background-color:#FFF;
}

.logo {
	width:50%;
}

.logo img {
	height:120px;
	}
	
.headnavi {
	margin:0;
	width:23.5%;
	vertical-align:bottom;
}

.headnavi p {
	font-family:Muli;
	font-weight:300;
	font-size:0.6em;
	margin:0;
}
	
.content {
	margin-top:2%;
	margin-bottom:3%;
	background-color:#FFF;
	width:100%;
	height:80%;
	
}

.kachelcolor {
	background-color: #D6D5D6;
	background-position:center;
	
	}
	
.kachelselected {
	width:100%;
	height:100%;
	background-image:url(pictures/eckelinks.png), url(pictures/eckerechts.png);
	background-position:left top, right bottom;
	background-repeat:no-repeat;
	}
	
	
.kacheltext1 {
	display:none;
	width: 49%;
	height: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-image: url(pictures/kachel1_metal_vor.jpg);
	background-size: 100%;
	}	
	
	
span {
	display:none;}	
	
.kachel1 {
	width: 49%;
	height: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-image: url(pictures/holz_web.jpg);
	background-size: 100% auto;
	margin-top:0%;
}
	
.kachel1:hover, .hover {
	background-size: 100% auto;
	width: 49%;
	height: 32%;
	background-image: url(pictures/holzhover_web.jpg);
}
.hover span {
	display:block;
}

.kachel:hover span {
	display:block;
	}

.kachel2 {
	width: 23.5%;
	height: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-image: url(pictures/gold2_web2.jpg);
	background-size: 100%;
}

.kachel2:hover {
	background-image: url(pictures/goldhover_web.jpg);
}

.kachel3 {
	float: right;
	width: 23.5%;
	height: 67%;
	margin-bottom: 2%;
	background-image: url(pictures/aluminium_web.jpg);
	background-size: 100%;
	}
	
.kachel3:hover {
	background-image: url(pictures/aluminiumhover_web.jpg);
}
	

.kachel4 {
	width:23.5%;
	height:67%;
	margin-right:2%;
	float:left;
	background-image: url(pictures/plastik_web.jpg);
	background-size: 100%;
	
	}
	
.kachel4:hover {
	background-image: url(pictures/plastikhover_web.jpg);
}

.kachel5 {
	width: 49%;
	height: 32%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-image: url(pictures/leder_web2.jpg);
	background-size: 100%;
	}
	
.kachel5:hover {
	background-image: url(pictures/lederhover_web.jpg);
}
	
.kachel6 {
	width: 23.5%;
	height: 32%;
	float: left;
	margin-right: 2%;
	background-image: url(pictures/metal_web2.jpg);
	background-size: 100%;
	}

.kachel6:hover {
	background-image: url(pictures/blechhover_web.jpg);
}
	
.kachel7 {
	width:23.5%;
	height:32%;
	float:left;
	margin-right:2%;
	background-image: url(pictures/silber_web.jpg);
	background-size: 100%;
	}
	
.kachel7:hover {
	background-image: url(pictures/silberhover_web.jpg);
}
	
.kachel8 {
	width: 23.5%;
	height: 32%;
	float: right;
	background-image: url(pictures/bronze_web2.jpg);
	background-size: 100%;
	}
	
.kachel8:hover {
	background-image: url(pictures/bronzehover_web.jpg);
}
	
.naviende {
	height: 5%;
	width:100%;
	}

.box3 {
	height: 5%;
	font-family: Muli;
	font-weight: 300;
	font-size: 0.65em;
	background-color: #FFF;
	/*
	border-top:3px solid #000;
	*/
	padding-top: 1%;
	background-color: #FFF;
	float: right;
	text-align: center;
	}
.claim {
	width:50%;
	float: right;
	}

.claimbild {
	size:auto;
	float:right;
	height:80%;
	width:100%;
	}

.social {
	margin-bottom: 2%;
	height: 30%;
	float: right;
	width: 100%;
	text-align: right;
	margin-top: 2%;
	width:100%;
	}
	
.icon {
	margin-right:1em;
	float:right;
	}
	
.kachelschrift {
	font-family: Muli;
	font-weight: 300;
	font-size: 0.85em;
	padding: 1em;
	}
	
.kachelheadline {
	font-size: 1.4em;
	font-style: oblique;
	text-decoration: underline;
	}
	
.philosophy {
	margin-top:2%;
	margin-bottom:3%;
	background-color:#FFF;
	width:100%;
	height:95%;
	}
	
.einleitung {
	width: 100%;
	height: 67%;
	margin-right: 2%;
	margin-bottom: 2%;
	font-family: Muli;
	font-weight: 300;
	font-size: 1em;
	background-image: url(pictures/philosophy.jpg);
	background-size:100%;
	}
	
.text {
	width: 49%;
	float: left;
	
	}
	
.einleitungsbild {
	width:49%;
	height:67%;
	background-color:#C03;
	margin-bottom: 2%;
	}
	
.material1 {
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/holzphilo.jpg);
	background-size:100%;
	}
	
.material2 {
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/blechphilo.jpg);
	background-size:100%;
	}	
	
.material3 {
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/goldphilo.jpg);
	background-size:100%;
	}
	
.material4 {
	/*BRONZ*/
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/bronzehover_web.jpg);
	background-size:100%;
	}
	
.material5 {
	/*SILBER*/
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/silberhover_web.jpg);
	background-size:100%;
	}		

.material6 {
	/*LEDER*/
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/lederphilo.jpg);
	background-size:100%;
	}
	
.material7 {
	/*METAL*/
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/kachel1_metal.jpg);
	background-size:100%;
	}
	
.material8 {
	/*ACETAT*/
	width:100%;
	height:67%;
	margin-bottom:2%;
	background-image:url(pictures/kachel5_plastik.jpg);
	background-size:100%;
	}
	
.linkmaterial1 {
	width:20%;
	float:left;
	height:20%;

	background-color:#000;
	margin-bottom:2%;
	margin-left:5%;
	}
		
.philoheadline {
	font-size: 4em;
	font-variant: small-caps;
	}

.textmaterial {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	font-family: Muli;
	font-weight: 300;
	font-size: 1em;
	height: 53%;
	width: 80%;
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	column-gap:2%;
	column-width:50%;
	margin-bottom:0%;
	}
	
.fontwhite {
	color: #FFF;
}

.fontblack {
	color:#000
	}
	
.popbild {
	width:100%;
	height:70%;
	background-color:#03C;
	}
	
.poptext {
	width:100%;
	height:30%;
	background-color:#C63;
	}

.plus {
	font-family: Muli;
	font-size: 6.5em;
	font-variant: small-caps;
	font-weight: 700;
	text-align: center;
	margin-left: 14%;
	margin-right: 5%;
	}
	
.nomargin {
	margin:0;
	}
	
.textmittig {
	text-align:center;
	}
	
.materialheadline {
	margin-left:5%;
	margin-right:5%;
	/*margin-top:1em;*/
	font-family: Muli;
	font-size: 3em;
	font-variant: small-caps;
	font-weight: 600;
	text-align: center;
	border-bottom:0.1em solid #000;
	height:15%;
	width:90%;
	}
	
.weitere {
	width: 100%;
	height: 25%;
	background-color: #930;
	}
	
.lookbook {
	margin-top: 2%;
	margin-bottom:0%;
	/* [disabled]background-color: #0F0; */
	width: 100%;
	height: 90%;
	}
	
.slidebox img {
	max-width:1140px;;
	}

	
.slidebox {
	height:100%;
	background-color:#906;
	margin:0;
	padding:0;
	text-decoration:0;
		}
		
.slidenavi {
	background-color:#006;
	height:2%;
	margin:0%;
	padding:0%;
	float:left;
	width:100%;
	text-decoration:0;
	}
	
.slidenavi a {
	background-color:#999;
	}
	
#grund2 {
	height: 80%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: none;
	background-image: url(pictures/kachelselect.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #0C9;
	position: relative;
	}
	
.inspiration {
	width:100%;
	height:100%;	
	}
	
.inspiration_bild {
	background-image:url(pictures/bluete.png);
	background-size:33%;
	background-repeat:no-repeat;
	background-position:right, top;
	width:100%;
	height:35%;
	float:left;
	margin-bottom:2%;
		}
		
.video {
	width:100%;
	height:100%;
	float:left;
	margin-bottom:2%;
	}
	
	
.blog {
	width::100%;
	height: 100%;
	background-image:url(pictures/inspigirl.jpeg);
	background-position:right;
	background-size:contain;
	background-repeat:no-repeat;
}

.elin {
	font-family: "Francois One";
	font-size: 5em;
	letter-spacing: 0.2em;}
	
.inspitext {
	width:60%;
	float:left;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	column-gap:2%;
	column-width:50%;
	font-family: Muli;
	font-size: 0.9em;
	font-weight: 300;
	}
	
.inspigirl {
	margin-top:}
	
.inspitext2 {
	margin-right:11%;
	margin-top:3%;
	background-position:right;
	width:30%;
	height:120%;
	float:right;
	font-family: Muli;
	font-size: 2.5em;
	font-weight: 600;
	}
	
.inspifrau {
	background-image: url(pictures/inspifrau2.jpg);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	margin: 0;
}
	
.inspitext {
	margin-top:2em;
}

.lookvideo {
	background-color:#069;
	width:100;
	height:85%;
	margin:0;
	padding:0;
	
	}
	
.popup {
<<<<<<< HEAD
	margin-top:5%;
	width: 49%;
=======
	float:left;
	margin-top: 15%;
	width: 50%;
>>>>>>> 6f1f5776b81e067c5fcc0cdcf439a9d17966a925
	height:32%;
	margin-left: 25%;
	margin-right: 25%;
	position: absolute;
	height: 70%;
	}
	
.inspiclaim {
	margin-top:1em;
	font-family: Muli;
	font-size: 1.2em;
	font-weight: 500;
	}
	
.lokvideo {
	width:100%;
	height:90%;
	}
	
.popup1 {
	margin-top:5%;
	width: 49%;
	float:left;
	margin-top: 15%;
	width: 50%;
	height:32%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #FFF;
	position: relative;
	height: 70%;
	opacity:0.7;
	}
	
.popup2 {
	margin-top:5%;
	width: 49%;
	float:left;
	margin-top: 15%;
	width: 50%;
	height:32%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: #C36;
	height: 30%;
	opacity:0.9;
	position:absolute;
	text-align:center;
	font-family:Muli;
	font-weight:700;
	font-size:2em;
	}
	
.popup2text {
	
	margin-top: 10%;
	margin-left: 7%;
	margin-right: 7%;
	position:absolute;
	text-align:center;
	font-family:Muli;
	font-weight:700;
	font-size:1em;
	}}
	
.brillecollection {
	margin-top:2%;
	margin-bottom:3%;
	background-color:#C90;
	width:100%;
	100%
	}
	
.brillestart {
	width: 100%;
	height: 67%;
	margin-right: 2%;
	margin-bottom: 2%;
	font-family: Muli;
	font-weight: 300;
	font-size: 1em;
	background-color:#C63;
	}
	
.collbrille {
	width:100%;
	height:auto;
	background-color:#F63;
	}
	
<<<<<<< HEAD
/*hier beginnt slideshow css*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
  


.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
.cycle-slideshow {
	width: 100%;
}
.cycle-slideshow img { width: 100%; height: auto }

.cycle-pager { 
    text-align: center; width: 100%; z-index: 500; position: absolute; bottom: 10px;	0px; overflow: hidden;
}
.cycle-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.cycle-pager span.cycle-pager-active { color: #b43c71;}
.cycle-pager > * { cursor: pointer;}
  

=======
.popup p {
	width:50%;
	margin-left:25%;
	margin-top:10%;
	color:#FFF;
	text-align:center;
	font-family:Muli;
}
>>>>>>> 6f1f5776b81e067c5fcc0cdcf439a9d17966a925
