@charset "UTF-8";
/* CSS Document */

html {
	height:100%;
	
	
	}

body {
	width:100%;
	height:100%;
	margin:0;
	
}
.navigation {
	background-color:#666;
	height:20%;
	
}

.grund1 {
	background-color: #CCC;
	height: 100%;
	width: 80%;
	margin-left:auto;
	margin-right:auto
	
}

.navibox {
	width:23.5%;
	height:100%;
	
}

.box1 {
	background-color:#FFF;
	float:left;
	
}

.box2 {
	background-color: #0F3;
	float: right;	
}

.marginright {
	margin-right:2%;

}

.floatleft {
	float:left;
	
}

.floatright {
	float:right;
	
}

.logo {
	height:22%;
	}

.logo img {
	width:8%;
	}

.collection {
	padding-bottom:1%;
	font-family:Muli;
	font-weight:300;
	background-color:#FFF;
	width:100%;
	border-bottom:0.2em solid #000;
	}
